<!DOCTYPE html>
<html>
<head>
     <link type="text/css" href="{{url_for('static',filename='CSS/anima.css')}}" rel="stylesheet"/>
    <meta charset="UTF-8">
    <title>Anima</title>
</head>
<body>
<table>
    <tr>
        <th><a class='menumexa' href={{url_for('Anima')}}>Anima</a></th>
        <td><a class='menumexa' href={{url_for('mexa')}}>MEXA</a></td>
    </tr>
</table>
<table align = 'center'>
        <tr>Внесение данных на сайт</tr>
        <tr><td><a href={{url_for('create_about_anime')}}>Добавить информацию об аниме</a></td></tr>
        <tr><td><a href={{url_for('create_character')}}>Добавить информацию о персонаже</a></td></tr>
        <tr><td><a href={{url_for('create_id_genre')}}>Добавить информацию о жанре</a></td></tr>
        <tr><td><a href={{url_for('create_studio')}}>Добавить информацию о студии</a></td></tr>
</table>
</body>
</html>